body {
    height: 100dvh;

    display: flex;
    align-items: center;

    background-color: #f4f4f4; 
    padding: 20px 0;  
}

.text-center {
    text-align: center;
}

ul.no-bullet {
    list-style-type: none;
    padding-left: 0;
}